body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100% )
}

h1 {
    color: #333;
}

label {
 font-size: 24px;
 margin-right: 10px;
}

#counter{
    display: inline-flex;
    font-size: 48px;
    font-weight: bold;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #2980b9;
}