.container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold; 
}

#diceImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#diceResult {
    margin: 20px 0;
}

#diceImages img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

button {
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: hsl(210, 100%, 50%);
    color:white;
    font-weight: bold;  
    cursor: pointer;
}

button:hover{
    background-color: hsl(210, 100%, 60%);
}

button:active{
    background-color: hsl(210, 100%, 70%);
}

input {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}